footer {
    display: flex;
    height: 150;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    color: #0d6efd;
    padding: 10px 20px;
  }
  
  .left {
    text-align: left;
  }
  
  .left p {
    color: #6c757d;
  }
  
  .right {
    text-align: right;
  }
  
  .right a {
    margin-left: 10px;
    display: inline-block;
    color: #0d6efd;
  }
  
  .right img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: #0d6efd;
  }